---
import { type CollectionEntry, getCollection, render } from "astro:content";

import Base from "@layouts/Base.astro";
import MusicPlayer from "@components/MusicPlayer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && !data.archived;
  });

  return posts.map((post) => ({
    params: { slug: post.id },
    props: {
      post,
      posts,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
  posts: CollectionEntry<"blog">[];
}

const { post, posts } = Astro.props;

const { Content } = await render(post);
const nextSlug = posts[posts.indexOf(post) + 1]?.id || null;
---

<Base
  title={post.data.title}
  description={post.data.description}
  image=`/blog/${post.id}.png`
>
  <div class="flex flex-row items-start p-6 gap-24">
    <MusicPlayer
      nowPlaying={post.data.title}
      playPercent={0}
      playPositon="0:00"
      playLength=`${post.data.readTime}:00`
      sectionClass="sticky top-24 lg:block hidden"
      isPlaying={true}
      posts={posts.slice(posts.indexOf(post) + 1)}
    />

    <section class="my-12">
      <article class="prose"><Content /></article>
    </section>
  </div>
</Base>

<script is:inline define:vars={{ readTime: post.data.readTime, nextSlug }}>
  const queueBtn = document.getElementById("queue");
  const playerImage = document.getElementById("player-image");
  const queueView = document.getElementById("queue-view");
  let showingQueue = false;

  queueBtn.addEventListener("click", () => {
    showingQueue = !showingQueue;

    if (showingQueue) {
      queueView.classList.remove("hidden");
      playerImage.classList.add("hidden");
    } else {
      playerImage.classList.remove("hidden");
      queueView.classList.add("hidden");
    }
  });

  const backBtn = document.getElementById("back");
  const skipBtn = document.getElementById("skip");

  backBtn.addEventListener("click", () => {
    if (window.history.length > 1) {
      window.history.back();
    } else {
      window.location.href = "/blog";
    }
  });
  skipBtn.addEventListener("click", () => {
    window.location.href = `/blog/${nextSlug}`;
  });

  const scrobbler = document.getElementById("scrobbler");
  const playPositon = document.getElementById("playPositon");

  document.addEventListener("scroll", () => {
    const scrollTop = document.documentElement.scrollTop;
    const scrollHeight =
      document.documentElement.scrollHeight - window.innerHeight;
    const scrollPercent = (scrollTop / scrollHeight) * 100;

    const totalSeconds = ((scrollPercent / 100) * readTime) * 60;

    const currentMin = Math.floor(totalSeconds / 60);
    const currentSec = Math.floor(totalSeconds % 60);

    const scobblerMax = Math.min(scrollPercent, 98);
    scrobbler.style.left = `${scobblerMax}%`;
    playPositon.textContent = `${currentMin}:${currentSec.toString().padStart(2, "0")}`;
  });
</script>
