---
import { type CollectionEntry, getCollection } from 'astro:content';
import Default from '../../layouts/Default.astro';
import Title from '../../components/Title.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { render } from 'astro:content';
import { Icon } from 'astro-icon/components';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
    params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
const shareurl = `https://isabelroses.com/blog/${ post.id }`;
---

<Default title={post.data.title} description={post.data.description} image=`/blog/${post.id}.png`>
  <section class="flex flex-col gap-2 w-full mb-4">
    <h1 class="text-4xl">{post.data.title}</h1>
    <h2 class="text-lg">{post.data.description}</h2>
    <FormattedDate date={post.data.date} class="text-sm text-fg-lighter" />
  </section>

  <article class="prose"><Content /></article>

  <section class="article-footer my-8">
    <ul class="align-footer">
      <li>
        <button
          onclick=`navigator.share({url: ${shareurl}})`
          data-share-btn
        >
          <Icon name="fa6-solid:share-from-square" class="icon" />
        </button>
      </li>
      <li>
        <a
          target="_blank"
          href=`https://bsky.app/intent/compose?text=${ shareurl }`
        >
          <Icon name="fa6-brands:bluesky" class="icon" />
        </a>
      </li>
    </ul>

    <span class="align-footer">
      © Blog post licensed under
      <a
        target="_blank"
        href="https://creativecommons.org/licenses/by/4.0"
        >CC BY-NC-SA 4.0</a
      >
    </span>
  </section>

  <div id="comments" class="w-full"></div>
</Default>

<script>
  document.addEventListener("astro:page-load", setup);
  document.addEventListener("astro:after-swap", setup);

  function setup() {
    let theme = window.localStorage.getItem('theme');

    if (theme.includes('catppuccin')) {
      theme = `https://giscus.catppuccin.com/themes/${theme.split('_').pop()}-sapphire.css`
    }

    if (theme == undefined) {
      theme = 'dark';
    }

    let attributes = {
      'src': 'https://giscus.app/client.js',
      'data-repo': 'isabelroses/website',
      'data-repo-id': 'R_kgDOK09lKQ',
      'data-category': 'General',
      'data-category-id': 'DIC_kwDOK09lKc4CeIfv',
      'data-mapping': 'title',
      'data-strict': '0',
      'data-reactions-enabled': '1',
      'data-emit-metadata': '0',
      'data-input-position': 'top',
      'data-theme': theme,
      'data-lang': 'en',
      'data-loading': 'lazy',
      'crossorigin': 'anonymous',
      'async':  '',
    };

    let script = document.createElement('script');
    Object.entries(attributes).forEach(([key, value]) =>
      script.setAttribute(key, value),
    );

    const comments = document.getElementById('comments');
    comments.innerHTML = '';
    comments.appendChild(script);
  };
</script>
