---
import { type CollectionEntry, getCollection } from 'astro:content';
import Default from '../../layouts/Default.astro';
import Title from '../../components/Title.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { render } from 'astro:content';
import { Icon } from 'astro-icon/components';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
    params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
const shareurl = `https://isabelroses.com/blog/${ post.id }`;
---

<Default title={post.data.title} description={post.data.description}>
  <Title
    title={post.data.title}
    description={post.data.description}
    size="lg"
  />

  <article class="prose"><Content /></article>

  <section class="article-footer my-8">
    <ul class="align-footer">
      <li>
        <button
          onclick=`navigator.share({url: ${shareurl}})`
          data-share-btn
        >
          <Icon name="fa6-solid:share-from-square" class="icon" />
        </button>
      </li>
      <li>
        <a
          target="_blank"
          href=`https://mastoroute.deno.dev/share?text=${ shareurl }`
        >
          <Icon name="fa6-brands:mastodon" class="icon" />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href=`https://bsky.app/intent/compose?text=${ shareurl }`
        >
          <Icon name="fa6-brands:bluesky" class="icon" />
        </a>
      </li>
    </ul>

    <span class="align-footer">
      © Blog post licensed under
      <a
        target="_blank"
        href="https://creativecommons.org/licenses/by/4.0"
        >CC BY-NC-SA 4.0</a
      >
    </span>
  </section>
</Default>
