---
import { getCollection } from "astro:content";

import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import BackLink from "@components/BackLink.astro";
import Tag from "@components/Tag.astro";
import PostCard from "@components/PostCard.astro";

const posts = await getCollection("blog", ({ data }) => {
  return !data.draft && !data.archived;
});

import { SITE_TITLES, SITE_DESCRIPTIONS } from "@lib/consts";
---

<Base
  title={SITE_TITLES.blog}
  description={SITE_DESCRIPTIONS.blog}
  image="/blog.png"
>
  <div class="w-full max-w-2xl flex flex-col gap-12">
    <PageHeader title="blog" description={SITE_DESCRIPTIONS.blog} />

    <section class="flex flex-col gap-4">
      <h2 class="text-xl">tags</h2>
      <div class="flex flex-wrap gap-2">
        {
          [...new Set(posts.flatMap((post) => post.data.tags))].map((tag) => (
            <Tag tag={tag} />
          ))
        }
      </div>
    </section>

    <section class="flex flex-col gap-4">
      <h2 class="text-xl">all posts</h2>
      <ul class="flex flex-col gap-3">
        {
          posts.map((post) => (
            <li>
              <PostCard
                href={`/blog/${post.id}`}
                title={post.data.title}
                date={post.data.date}
                description={post.data.description}
                readTime={post.data.readTime}
                tags={post.data.tags}
              />
            </li>
          ))
        }
      </ul>
    </section>

    <BackLink href="/" />
  </div>
</Base>
