---
import Default from '../../layouts/Default.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Title from '../../components/Title.astro';
import Article from '../../components/Article.astro';

const title = "Blog"
const description = "The parts of my life that I put out into the world";

const posts = await getCollection('blog', ({ data }) => {
  return !data.draft && !data.archived;
});

const tags = new Set();
posts.forEach((post) => Array.isArray(post.data.tags) && post.data.tags.forEach((tag) => tags.add(tag)));
---

<Default title={title} description={description}>
  <Title title={title} description={description} size="lg" />

  { tags.size > 0 && (
    <div class="flex flex-row flex-wrap justify-between gap-1 mb-4 w-full">
      { Array.from(tags).map((tag) => (
        <a class="pill transition duration-200 ease-in-out hover:scale-115" href={`/blog/tag/${tag}/`}>
          # { tag }
        </a>
      )) }
    </div>
  ) }

  <div class="grid grid-cols-1 gap-4 mb-16 w-full">
    { posts.map((post, index) => {
      return (
        <Article id={post.id} {...post.data} />
      );
    }) }
  </div>
</Default>
