---
import { getCollection } from "astro:content";

import PageLayout from "@layouts/PageLayout.astro";
import Tag from "@components/Tag.astro";
import PostCard from "@components/PostCard.astro";

const posts = (
  await getCollection("blog", ({ data }) => {
    return !data.draft && !data.archived;
  })
).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

import { SITE_TITLES, SITE_DESCRIPTIONS } from "@lib/consts";
---

<PageLayout
  title="blog"
  description={SITE_DESCRIPTIONS.blog}
  metaTitle={SITE_TITLES.blog}
  image="/blog.png"
>
    <section class="flex flex-col gap-4">
      <h2 class="text-xl smallcaps tracking-[0.12em]">tags</h2>
      <div class="flex flex-wrap gap-2">
        {
          [...new Set(posts.flatMap((post) => post.data.tags))].map((tag) => (
            <Tag tag={tag} />
          ))
        }
      </div>
    </section>

    <section class="flex flex-col gap-4">
      <h2 class="text-xl smallcaps tracking-[0.12em]">all posts</h2>
      <ul class="flex flex-col gap-3">
        {
          posts.map((post) => (
            <li>
              <PostCard
                href={`/blog/${post.id}`}
                title={post.data.title}
                date={post.data.date}
                description={post.data.description}
                readTime={post.data.readTime}
                tags={post.data.tags}
              />
            </li>
          ))
        }
      </ul>
    </section>
</PageLayout>
