---
import { getCollection } from "astro:content";

import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import BackLink from "@components/BackLink.astro";
import PostCard from "@components/PostCard.astro";

import { SITE_TITLES } from "@lib/consts";

interface Props {
  posts: { title: string; description: string; readTime: number; slug: string; date: Date }[];
  tag: string;
}

const { posts, tag } = Astro.props;

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && !data.archived;
  });

  const tags: Set<string> = new Set();

  for (const post of posts) {
    if (Array.isArray(post.data.tags)) {
      for (const tag of post.data.tags) {
        tags.add(tag);
      }
    }
  }

  return Array.from(tags).map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    const postsSmall = filteredPosts.map((p) => ({
      readTime: p.data.readTime,
      title: p.data.title,
      description: p.data.description,
      date: p.data.date,
      slug: p.id,
    }));

    return {
      params: { slug: tag },
      props: { posts: postsSmall, tag },
    };
  });
}
---

<Base
  title={`#${tag} | ${SITE_TITLES.blog}`}
  description={`Posts tagged with #${tag}`}
  image="/blog.png"
>
  <div class="w-full max-w-2xl flex flex-col gap-12">
    <PageHeader
      title={`#${tag}`}
      description={`${posts.length} post${posts.length !== 1 ? "s" : ""} tagged with #${tag}`}
    >
      <BackLink href="/blog" label="back to blog" slot="back" />
    </PageHeader>

    <section class="flex flex-col gap-4">
      <ul class="flex flex-col gap-3">
        {
          posts.map((post) => (
            <li>
              <PostCard
                href={`/blog/${post.slug}`}
                title={post.title}
                date={post.date}
                description={post.description}
                readTime={post.readTime}
              />
            </li>
          ))
        }
      </ul>
    </section>

    <BackLink href="/" />
  </div>
</Base>
