---
import Default from "../layouts/Default.astro";
import Title from '../components/Title.astro';
import { Code } from 'astro-expressive-code/components'
import { FRIENDS } from '../consts';

const title = "Friends";
const description = "Awesome people I know from the interwebs";
---

<Default title={title} description={description}>
  <section class="flex flex-col gap-4 mb-16">
    <Title title={title} description={description} size="lg" />

    <div class="grid xl:grid-cols-6 xl:gap-6 grid-cols-4 gap-4">
      { FRIENDS.map((friend) => (
        <a href={friend.link} target="_blank" rel="noopener noreferrer">
          <img loading="lazy" decoding="async" data-nimg="1" style="image-rendering: pixelated" src=`/badges/${friend.badge}` />
        </a>
      )) }
    </div>
  </section>

  <section class="flex flex-col gap-4 mb-16">
    <Title title="My badge" description="Consider adding my badge to your side :D" size="lg" />

    <div class="flex flex-col gap-4">
      <img loading="lazy" decoding="async" data-nimg="1" style="image-rendering: pixelated" src="/badges/me.gif" height="31" width="88" />

      <Code code=`<img src="https://isabelroses.com/static/badges/me.gif" alt="isabel roses" width="88" height="31" />` lang="html" />
    </div>
  </section>
</Default>
