---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import me from "@assets/me.webp";

import Base from "@layouts/Base.astro";

const posts = await getCollection("blog", ({ data }) => {
  return !data.draft && !data.archived;
});

import { SITE_TITLES, SITE_DESCRIPTIONS } from "@lib/consts";
---

<Base
  title={SITE_TITLES.index}
  description={SITE_DESCRIPTIONS.index}
  image="/index.png"
>
  <div class="flex flex-col items-start gap-6 w-full">
    <div class="flex flex-row pt-20 w-full">
      <Image
        id="player-image"
        src={me}
        alt="isabel roses"
        width={250}
        height={250}
        loading="eager"
      />
      <div class="bg-card flex-2 p-4">
        I am currently studying computer science, as a third year student at
        Aberystwyth University. A significant amount of my time goes into being
        a <a
          href="https://github.com/NixOS/org/blob/main/doc/nixpkgs-committers.md#nixpkgs-committers">Nixpkgs
          committer</a>,
        where I help maintain the Nixpkgs repository.
      </div>
      <div id="listening" class="flex items-center justify-center bg-card flex-1 p-4 text-shadow-sm">listening to nwo</div>
    </div>

    <div class="flex flex-row pt-20 w-full">
      <div class="bg-card flex-1">description type shit</div>
      <div class="bg-card flex-1">description type shit</div>
    </div>
  </div>
</Base>

<script>
  async function getCoverArtUrl(recordingMbId) {
    const base = 'https://musicbrainz.org/ws/2';
    const headers = {
      'Accept': 'application/json',
      'User-Agent': 'isabelroses.com'
    };

    const recUrl = `${base}/recording/${recordingMbId}?fmt=json&inc=releases`;
    const recResp = await fetch(recUrl, { headers });
    if (!recResp.ok) {
      throw new Error(`Failed to fetch recording: ${recResp.status}`);
    }
    const recData = await recResp.json();

    if (!Array.isArray(recData.releases) || recData.releases.length === 0) {
      throw new Error('No releases found for this recording');
    }

    const releaseMbId = recData.releases[0].id;
    const coverArtUrl = `https://coverartarchive.org/release/${releaseMbId}/front`;
    return coverArtUrl;
  }


  const nowPlaying = (await fetch("https://pds.tgirl.cloud/xrpc/com.atproto.repo.getRecord?repo=did:plc:qxichs7jsycphrsmbujwqbfb&collection=fm.teal.alpha.actor.status&rkey=self").then(data => data.json())).value.item;
  const listeningNow = document.getElementById("listening");
  listeningNow.textContent = `Now listening to ${nowPlaying.trackName}`;
  const songImg = nowPlaying.releaseMbId ? `https://coverartarchive.org/release/${nowPlaying.releaseMbId}/front` : await getCoverArtUrl(nowPlaying.recordingMbId);
  listeningNow.style.backgroundImage = `url("${songImg}")`;
</script>
