---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Base from "@layouts/Base.astro";
import PostCard from "@components/PostCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import NavCard from "@components/NavCard.astro";
import SectionHeader from "@components/SectionHeader.astro";
import SocialLinks from "@components/SocialLinks.astro";
import me from "@assets/me.webp";

const posts = await getCollection("blog", ({ data }) => {
  return !data.draft && !data.archived;
});

import { SITE_TITLES, SITE_DESCRIPTIONS, PROJECTS } from "@lib/consts";
---

<Base
  title={SITE_TITLES.index}
  description={SITE_DESCRIPTIONS.index}
  image="/index.png"
>
  <div class="w-full max-w-2xl flex flex-col gap-12 justify-between h-full">
    <section class="flex flex-col gap-6">
      <div class="flex flex-row gap-4 items-center">
        <Image
          src={me}
          alt="Avatar"
          width={64}
          height={64}
          class="rounded-full"
        />
        <div class="flex flex-col">
          <h1 class="text-2xl font-semibold">isabel</h1>
          <p class="text-fg-lighter">{SITE_DESCRIPTIONS.index}</p>
        </div>
      </div>

      <p class="text-fg-lighter leading-relaxed">
        hello. i'm a software developer who loves working with nix, rust, and go.
        i often write about my uses of these technologies on my blog, and share
        my projects as open source.
      </p>

      <SocialLinks />
    </section>

    <section class="flex flex-col gap-4">
      <h2 class="text-xl">explore</h2>
      <nav class="grid grid-cols-2 gap-3">
        <NavCard href="/blog" label="blog" icon="fa7-solid:pen-nib" />
        <NavCard href="/projects" label="projects" icon="fa7-solid:code" />
        <NavCard href="/friends" label="friends" icon="fa7-solid:user-group" />
        <NavCard href="/donate" label="donate" icon="fa7-solid:heart" />
      </nav>
    </section>

    <section class="flex flex-col gap-4">
      <SectionHeader title="projects" href="/projects" />
      <ul class="flex flex-col gap-3">
        {
          PROJECTS.slice(0, 3).map((project) => (
            <li>
              <ProjectCard
                href={project.href || project.repo || "#"}
                name={project.name}
                icon={project.icon}
                stars={project.stars}
                compact
              />
            </li>
          ))
        }
      </ul>
    </section>

    <section class="flex flex-col gap-4">
      <SectionHeader title="recent posts" href="/blog" />
      <ul class="flex flex-col gap-3">
        {
          posts.slice(0, 5).map((post) => (
            <li>
              <PostCard
                href={`/blog/${post.id}`}
                title={post.data.title}
                date={post.data.date}
                compact
              />
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</Base>
