---
import DefaultLayout from '../layouts/Default.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { render, getCollection } from "astro:content";
import FormattedDate from '../components/FormattedDate.astro';
import Title from '../components/Title.astro';
import ProjectMinimal from '../components/ProjectMinimal.astro';

const posts = await getCollection('blog');
import { PROJECTS } from '../consts';
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>

<section class="mb-8">
  <div class="flex flex-col gap-4">
    <h1 class="text-4xl mb-4">Hello, I&apos;m <span class="text-special">Isabel</span></h1>

    <p>
      I am currently studying computer science, as a second year student at Aberystwyth University. My main interests are in the terminal shown by my obsession with nix. Furthermore I am currently learning the programming language golang.
      What do I do with some of my spare time? Well I contribute to a awesome project  <a target="_blank" class="text-special underline" href="https://github.com/catppuccin/catppuccin">Catppuccin</a>.
    </p>
  </div>
</section>

<section class="mb-8">
  <Title title="Blog" description="The parts of my life that I put out into the world" />

  <div class="grid lg:grid-cols-2 gap-4">
    { await Promise.all(posts.map(async (post, index) => {
      if (index >= 3) return null;

      const { remarkPluginFrontmatter } = await render(post);

      return (
        <article class="ring-inset ring-1 ring-card bg-bg-lighter p-4 rounded-xl transition-all duration-200 ease-in-out hover:scale-105">
          <a class="flex flex-col gap-2" href={`/blog/${post.id}/`}>
            <p class="title">{post.data.title}</p>

            <div class="flex flex-row gap-2">
              { post.data.tags.map((tag) => (
                <span class="pill"># { tag }</span>
              )) }
            </div>

            <div class="text-xs text-fg-lighter flex flex-row gap-2 justify-end">
              <p>{ remarkPluginFrontmatter.minutesRead }</p>
              -
              <FormattedDate date={post.data.date} />
            </div>
          </a>
        </article>
      );
      })) }

    <a class="ring-inset ring-1 ring-card bg-bg-lighter p-4 rounded-xl text-center content-center group text-fg hover:text-special transition ease-in-out duration-200" href="/blog/">
      See more
      <span aria-hidden="true" class="inline-block translate-x-0 group-hover:translate-x-1 transition-transform ease-in-out duration-200">
        →
      </span>
    </a>
  </div>
</section>

<section class="mb-8">
  <Title title="Projects" description="A collection of projects that I maintain" />

  <div class="grid lg:grid-cols-2 gap-4">
    { PROJECTS.map((project, index) => {
      if (index >= 3) return null;

      return (
        <ProjectMinimal {...project} />
      )
    }) }

    <a class="ring-inset ring-1 ring-card bg-bg-lighter p-4 rounded-xl text-center content-center group text-fg hover:text-special transition-all ease-in-out duration-200" href="/projects/">
      See more
      <span aria-hidden="true" class="inline-block translate-x-0 group-hover:translate-x-1 transition-transform ease-in-out duration-200">
        →
      </span>
    </a>
  </div>
</section>

<section class="mb-8">
  <Title title="Friends" description="Want to see some cool badges" />

  <div class="grid xl:grid-cols-6 gap-4">
    <a class="xl:col-start-2 xl:col-span-4 ring-inset ring-1 ring-card bg-bg-lighter p-4 rounded-xl text-center content-center group text-fg hover:text-special transition-all ease-in-out duration-200" href="/friends/">
      Check out my friends
      <span aria-hidden="true" class="inline-block translate-x-0 group-hover:translate-x-1 transition-transform ease-in-out duration-200">
        →
      </span>
    </a>
  </div>
</section>

</DefaultLayout>
