---
import PageLayout from "@layouts/PageLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";

import { SITE_DESCRIPTIONS, PROJECTS } from "@lib/consts";
---

<PageLayout
  title="projects"
  description={SITE_DESCRIPTIONS.projects}
  image="/projects.png"
>
  <section class="flex flex-col gap-4">
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        PROJECTS.map((project) => (
          <li>
            <ProjectCard
              href={project.href || project.repo || "#"}
              name={project.name}
              description={project.description}
              icon={project.icon}
              stars={project.stars}
              repo={project.repo}
            />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
