---
import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import BackLink from "@components/BackLink.astro";

interface Props {
  title: string;
  description?: string;
  metaTitle?: string;
  metaDescription?: string;
  image?: string;
  aturi?: string;
  back?: boolean;
}

const {
  title,
  description,
  metaTitle = title,
  metaDescription = description ?? "",
  image,
  aturi,
  back = true,
} = Astro.props;
---

<Base
  title={metaTitle}
  description={metaDescription}
  image={image}
  aturi={aturi}
>
  <div class="w-full max-w-2xl flex flex-col gap-12">
    <PageHeader title={title} description={description}>
      <slot name="back" slot="back" />
    </PageHeader>

    <slot />

    {back && <BackLink href="/" />}
  </div>
</Base>
