---
import Base from "@layouts/Base.astro";
import BackLink from "@components/BackLink.astro";

interface Props {
  title: string;
  description?: string;
  metaTitle?: string;
  metaDescription?: string;
  image?: string;
  aturi?: string;
  back?: boolean;
}

const {
  title,
  description,
  metaTitle = `isabel | ${title}`,
  metaDescription = description ?? "",
  image,
  aturi,
  back = true,
} = Astro.props;
---

<Base title={metaTitle} description={metaDescription} image={image} aturi={aturi}>
  <div class="w-full flex flex-col gap-12">
    <h1 class="sr-only">{title}</h1>

    <slot />

    {back && <BackLink href="/" />}
  </div>
</Base>
